@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  color: #b1abab;
  background-color: rgb(32, 71, 247);
  padding: 7px 18px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 17px;
  transition: all 0.6s;
}
.btn:hover {
  background-color: #b1abab;
  color: #0e0c0c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(3deg, rgb(255, 252, 249) 70%, rgb(255, 201, 181) 96%, rgb(219, 80, 36) 99%);
}
.header .header_content {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.header .logo_img {
  display: block;
  height: 90px;
}
.header .nav_list {
  display: flex;
  column-gap: 40px;
}
.header .nav_link {
  font-size: 20px;
  color: #0e0c0c;
  transition: all 0.5s;
}
.header .nav_link:hover,
.header .nav_link:focus {
  color: #b1abab;
}
.header .btn::before {
  content: "Contacto";
}

/* MEDIA QUERIES*/
@media (max-width: 650px) {
  .header_content {
    flex-direction: column;
    padding: 25px 0;
    row-gap: 18px;
  }
  .nav_list {
    column-gap: 20px;
  }
}
/*:: FUENTE
https://www.youtube.com/watch?v=vvTPhOw4wO4&list=WL&index=230&t=668s*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scrolling the wrapper NOT the body*/
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.wrapper section.presentation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.wrapper .background {
  background: url("../assets/img/etc/welcome.jpg");
  transform: translateZ(-10px) scale(2);
}
.wrapper .foreground {
  background: url("../assets/img/etc/fireflame.png");
  transform: translateZ(-3px) scale(1.5);
  opacity: 0.2;
}
.wrapper .background,
.wrapper .foreground {
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.wrapper .title {
  font-size: 6rem;
  color: transparent;
  text-shadow: 0 0 1.5px rgb(242, 250, 252);
}
.wrapper section.about-us {
  font-size: larger;
  padding: 2rem;
  background-color: rgb(70, 67, 67);
  color: rgb(242, 250, 252);
  text-align: center;
  line-height: 3rem;
}
.wrapper section.lead {
  background-color: rgb(242, 250, 252);
  height: 15rem;
}

.btn {
  color: #b1abab;
  background-color: rgb(32, 71, 247);
  padding: 7px 18px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 17px;
  transition: all 0.6s;
}
.btn:hover {
  background-color: #b1abab;
  color: #0e0c0c;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(3deg, rgb(255, 252, 249) 70%, rgb(255, 201, 181) 96%, rgb(219, 80, 36) 99%);
}
.header .header_content {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.header .logo_img {
  display: block;
  height: 90px;
}
.header .nav_list {
  display: flex;
  column-gap: 40px;
}
.header .nav_link {
  font-size: 20px;
  color: #0e0c0c;
  transition: all 0.5s;
}
.header .nav_link:hover,
.header .nav_link:focus {
  color: #b1abab;
}
.header .btn::before {
  content: "Contacto";
}

/* MEDIA QUERIES*/
@media (max-width: 650px) {
  .header_content {
    flex-direction: column;
    padding: 25px 0;
    row-gap: 18px;
  }
  .nav_list {
    column-gap: 20px;
  }
}
/*:: FUENTE
https://www.youtube.com/watch?v=vvTPhOw4wO4&list=WL&index=230&t=668s*/
footer {
  background-color: #0e0c0c;
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(242, 250, 252);
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
footer img {
  width: 18rem;
  margin-top: 2.5rem;
  display: block;
  border-radius: 1rem;
  opacity: 0.7;
}
footer .rrss-container {
  display: flex;
  justify-content: space-around;
}
footer .rrss-container img {
  margin-bottom: 2.5rem;
  width: 50px;
}
footer .general-container .copywr {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
