@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font: Ubuntu  */
/* Font: Noto  */
header {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(3deg, rgb(255, 255, 255) 55%, rgb(255, 201, 183) 60%, rgb(255, 252, 249) 70%);
  margin-bottom: 2.5rem;
}
header .isologo {
  display: flex;
  align-items: center;
}
header .isologo img {
  height: 4rem;
  width: 10rem;
  margin-left: 4rem;
  margin-top: 4px;
  border-radius: 1rem;
  z-index: 1;
}
header nav ul {
  display: flex;
  justify-content: center;
}
header li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(32, 27, 27);
  padding-right: 20px;
  margin: 0.5rem;
}
header li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: brown;
  margin: auto;
  display: block;
  align-items: center;
}
header li a:hover::after {
  width: 70%;
  transition: width 0.3s linear;
  margin-top: 5px;
  align-items: center;
}
header #links li {
  display: inline;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font: Ubuntu  */
/* Font: Noto  */
/* Scrolling the wrapper NOT the body*/
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.wrapper section.presentation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.wrapper .background {
  transform: translateZ(-10px) scale(2);
}
.wrapper .foreground {
  transform: translateZ(-3px) scale(1.4);
  opacity: 0.1;
}
.wrapper .background,
.wrapper .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: stretch;
  z-index: -1;
}
.wrapper .title {
  font-size: 6rem;
  color: transparent;
  text-shadow: 0 0 1.5px rgb(242, 250, 252);
}
.wrapper section.about-us {
  font-size: larger;
  padding: 2rem;
  background-color: rgb(242, 250, 252);
  color: rgb(32, 27, 27);
  text-align: center;
  line-height: 3rem;
}

/* Font: Ubuntu  */
/* Font: Noto  */
footer {
  background-color: rgb(32, 27, 27);
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(242, 250, 252);
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
footer img {
  width: 18rem;
  margin-top: 2.5rem;
  display: block;
  border-radius: 1rem;
  opacity: 0.7;
}
footer .rrss-container {
  display: flex;
  justify-content: space-around;
}
footer .rrss-container img {
  margin-bottom: 2.5rem;
  width: 50px;
}
footer .general-container .copywr {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
