$fire_color: #cc0808;

$air_color: rgb(242, 250, 252);

$black_color: rgb(70, 67, 67);

$sky_color: rgb(32, 71, 247);

$smoke_color: #b1abab;

//Don´t use the following in parallax!
$hot_breeze: linear-gradient(
  3deg,
  rgba(255, 252, 249, 1) 70%,
  rgba(255, 201, 181, 1) 96%,
  rgba(219, 80, 36, 1) 99%
);
