// Isologo Sizes.
$logo_header_height: 90px;
$border_radius: 1rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Header Params
$nav_font_size: 20px;
$list_style: none;
$header_min_height: 80px;
$header_max_width: 1200px;
$header_col_gap: 40px;
$btn_font_size: 17px;
$btn_contact_label: "Contacto";

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Footer Params.
$logo_footer_width: 18rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Margins.
$margins_bottom: 2.5rem;
$margins_top: 2.5rem;
$general_margin: 1.5rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Text params.
$h1_size: 6rem;
$h2_size: 5rem;
$section_title_size: 1.5rem;
$p_font_size: larger;
$text_separation: 3rem;
$text_decoration: none;
$font_style: italic;
$figcaption_size: 0.2rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Perspective.
$perspective_distance: 10px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// INDEX Images.
$home_backGround: url("../assets/img/etc/welcome.jpg");
$home_foreGround: url("../assets/img/etc/fireflame.png");
$home_img_size: cover;

$us_backGround: url("../../assets/img/etc/makingBottle01.avif");

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Heights.
$section_height: 28rem;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Border-Radius.
$card-border_radius: 4rem;
$btn_radius: 1000px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Labels.

$btn_contact_label: "Contacto";
$btn_sendForm_label: "Enviar";

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// AOS BOX

$aox_box_width: 25rem;
$aox_box_height: 15rem;
