// Isologo Sizes
$logo_header_height: 4rem;
$logo_header_width: 10rem;

// Footer Params
$logo_footer_width: 18rem;

// Header Params
$nav_font_size: 1.2rem;
$hover_font_size: 1.5rem;

// Margins.
$margins_bottom: 2.5rem;
$margins_top: 2.5rem;

// Text params.

$h1_size: 4rem;
$p_size: larger;
