@import "../utilities/colors";
@import "../utilities/fonts";
@import "../utilities/variables";

// -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

footer {
  background-color: $black_color;
  display: grid;
  margin-top: $margins_top;
  justify-content: center;
  align-items: center;
  color: $air_color;
  font-family: $font_ubuntu;
  position: relative;

  img {
    width: $logo_footer_width;
    margin-top: $margins_top;
    display: block;
    border-radius: 1rem;
    opacity: 0.7;
  }

  .rrss-container {
    display: flex;
    justify-content: space-around;

    img {
      margin-bottom: $margins_bottom;
      width: 50px;
    }
  }

  .general-container .copywr {
    margin-top: $margins_top;
    display: flex;
    justify-content: center;
  }
}
