@import "../utilities/variables";
@import "../utilities/colors";

// -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

ul {
  list-style: $list_style;
}

a {
  text-decoration: $text_decoration;
  //color: inherit;
}

.header {
  background: $hot_breeze;

  .header_content {
    min-height: $header_min_height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //No se separarán mayor distancia entre el logo y los links del nav
    //superando la cota $header_max_width. Ese es la cota máxima de separación.    //
    max-width: $header_max_width;

    margin: 0 auto; // 0: Top|Bottom; auto: Left|Right.
    padding: 0 30px;
  }

  .logo_img {
    display: block;
    height: $logo_header_height;
  }

  .nav_list {
    display: flex;
    column-gap: $header_col_gap;
  }

  .nav_link {
    font-size: $nav_font_size;
    color: $black_color;
    transition: all 0.5s; //all = para todas las propiedades.
  }

  .nav_link:hover,
  .nav_link:focus {
    color: $smoke_color;
  }

  .btn {
    color: $fire_color;
    background-color: $air_color;
    padding: 7px 18px;
    border-radius: $btn_radius;
    text-transform: uppercase;
    font-size: $btn_font_size;
    transition: all 0.6s;

    &:hover {
      background-color: $smoke_color;
    }
  }
}

/* MEDIA QUERIES*/

@media (max-width: 650px) {
  .header_content {
    flex-direction: column;
    padding: 25px 0;
    row-gap: 18px;
  }

  .nav_list {
    column-gap: 20px;
  }
}

/*:: FUENTE
https://www.youtube.com/watch?v=vvTPhOw4wO4&list=WL&index=230&t=668s*/
