@import "../utilities/colors";
@import "../utilities/variables";
@import "../utilities/fonts";
// -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

.container {
  height: $products_container_height;
  display: flex;
  flex-wrap: wrap;

  .sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black_color;

    .title {
      color: $smoke_color;
      font-size: $section_title_size;
      text-transform: uppercase;
    }

    .text-content {
      color: $smoke_color;
      font-style: $font_style;
      line-height: $text_separation;
    }
  }
  .item-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 20rem);
    // GAP para espaciado dentro del GRID
    //row-gap: 20px;
    //column-gap: 20px;
  }

  .grid-item {
    border: 2px blue solid;
    // font-size: 21px;
    // padding: 5px;
  }
  .products-display {
    flex: 3;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.banner {
  display: flex;
  height: auto;
  align-self: center;
  justify-content: center;
}
//fistItem
//scndItem
//thirdItem
//fourthItem
